@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;

  ::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(34 211 238);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: #fff;
  }
}

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.loader {
  position: relative;
  margin-top: 40px;
}

.outer,
.middle,
.inner {
  border: 3px solid transparent;
  border-top-color: dodgerblue;
  border-right-color: deeppink;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.outer {
  width: 120px;
  height: 120px;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: spin 2s linear infinite;
}

.middle {
  width: 100px;
  height: 100px;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: spin 1.75s linear reverse infinite;
}

.inner {
  width: 80px;
  height: 80px;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.dropdown-content {
  position: absolute;
  right: 15px;
  background-color: #ffffff;
  width: 160px;
  box-shadow: 0px 4px 8px rgba(16, 24, 64, 0.16);
  border-radius: 8px;
  z-index: 2;
  margin-bottom:80px;
}
.dropdown-content a:hover {
  background-color: dodgerblue;
  color: white;
  border-left: 3px solid deeppink;
}

